.topbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #192A3E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0 32px;
}
.user-info{
    font-family: 'Poppins-L', sans-serif;
    font-size: 22px;
}

.topbar-btn{
    font-family: 'Poppins-M', sans-serif;
    font-size: 18px;
    background-color: #F7685B;
    padding: 8px 10px;
    border: 2px solid #F7685B;
    border-radius: 5px;
    transition: .3s;
}
.topbar-btn:hover{
    background: none;
}
.title{
    font-family: 'Poppins-R', sans-serif;
    font-size: 35px;
    color: #192A3E;
}
.table{
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Poppins-L', sans-serif;
}

.table thead td{
    background-color: #192A3E;
    color: #FFFFFF;
    padding: 20px 0;
    font-size: 19px;
}
.table tbody td{
    padding: 12px 0;
    color: #192A3E;
    font-size: 17px;
    border-bottom: 4px solid #192A3E;
}
.table-link{
    color: #2196F3
}
.table-link:hover{
    text-decoration: underline;
}